FLOW.json
[
    {
        "id": "55e09d2b.5a5724",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b596b62d.3d2738",
        "type": "ibmiot in",
        "z": "55e09d2b.5a5724",
        "authentication": "apiKey",
        "apiKey": "9e1b161d.a588e8",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "2000",
        "applicationId": "",
        "deviceType": "AgriGro",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 170,
        "y": 240,
        "wires": [
            [
                "71c25d2.d16b7a4",
                "9d15178d.9449d8",
                "ea426db7.77105"
            ]
        ]
    },
    {
        "id": "71c25d2.d16b7a4",
        "type": "function",
        "z": "55e09d2b.5a5724",
        "name": "Humidity",
        "func": "msg.payload=msg.payload.d.humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 160,
        "wires": [
            [
                "7de427d1.018338",
                "6090ff2c.36d7d"
            ]
        ]
    },
    {
        "id": "9d15178d.9449d8",
        "type": "function",
        "z": "55e09d2b.5a5724",
        "name": "Object Temp",
        "func": "msg.payload=msg.payload.d.objectTemp\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 340,
        "wires": [
            [
                "840fa67a.729ed8",
                "3c499925.5219a6"
            ]
        ]
    },
    {
        "id": "c5108a8c.7ccbf8",
        "type": "ui_gauge",
        "z": "55e09d2b.5a5724",
        "name": "",
        "group": "2d34cd3a.821922",
        "order": 1,
        "width": "5",
        "height": "5",
        "gtype": "gage",
        "title": "TEMPERATURE",
        "label": "DC",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#448375",
            "#1f9a97",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 570,
        "y": 220,
        "wires": []
    },
    {
        "id": "840fa67a.729ed8",
        "type": "ui_gauge",
        "z": "55e09d2b.5a5724",
        "name": "",
        "group": "2d34cd3a.821922",
        "order": 3,
        "width": "5",
        "height": "5",
        "gtype": "gage",
        "title": "OBJECT TEMPERATURE",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#2fb395",
            "#d7093d",
            "#1b7d83"
        ],
        "seg1": "",
        "seg2": "",
        "x": 600,
        "y": 340,
        "wires": []
    },
    {
        "id": "f1dc38a2.e5cba8",
        "type": "ibmiot out",
        "z": "55e09d2b.5a5724",
        "authentication": "apiKey",
        "apiKey": "9e1b161d.a588e8",
        "outputType": "cmd",
        "deviceId": "2020",
        "deviceType": "ProTech",
        "eventCommandType": "home",
        "format": "json",
        "data": "data",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 1220,
        "y": 220,
        "wires": []
    },
    {
        "id": "7de427d1.018338",
        "type": "ui_gauge",
        "z": "55e09d2b.5a5724",
        "name": "",
        "group": "2d34cd3a.821922",
        "order": 2,
        "width": "5",
        "height": "5",
        "gtype": "gage",
        "title": "HUMIDITY",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#3e4e74",
            "#d52b77",
            "#728f8e"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 120,
        "wires": []
    },
    {
        "id": "bda8aa70.742fb8",
        "type": "inject",
        "z": "55e09d2b.5a5724",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 350,
        "y": 540,
        "wires": [
            [
                "eb092227.8391f"
            ]
        ]
    },
    {
        "id": "7184f56f.148e7c",
        "type": "ui_chart",
        "z": "55e09d2b.5a5724",
        "name": "",
        "group": "d2d6166.0e701e8",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#df1916",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 530,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "6090ff2c.36d7d",
        "type": "ui_chart",
        "z": "55e09d2b.5a5724",
        "name": "",
        "group": "461dea48.620dc4",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 510,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "3c499925.5219a6",
        "type": "ui_chart",
        "z": "55e09d2b.5a5724",
        "name": "",
        "group": "ce32ce4.6ae903",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 550,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "eb092227.8391f",
        "type": "http request",
        "z": "55e09d2b.5a5724",
        "name": "OPEN WEATHER API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://api.openweathermap.org/data/2.5/weather?q=Visakhapatnam, IN&appid=a2de6703a43711a6e9063770c18f3deb",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 620,
        "y": 540,
        "wires": [
            [
                "660a1efc.be3d4",
                "273e9af1.a02456",
                "300e0a42.ce7ab6",
                "da9dc01b.46f4d",
                "1c7f4f76.40a141",
                "4bedff20.9658a",
                "115cff9c.4dbe4"
            ]
        ]
    },
    {
        "id": "a640f7eb.448ee8",
        "type": "ui_button",
        "z": "55e09d2b.5a5724",
        "name": "",
        "group": "2d34cd3a.821922",
        "order": 10,
        "width": "16",
        "height": "1",
        "passthru": false,
        "label": "MOTOR ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"command\":\"motoron\"}",
        "payloadType": "json",
        "topic": "",
        "x": 970,
        "y": 140,
        "wires": [
            [
                "f1dc38a2.e5cba8",
                "b43ec5e7.1b0438"
            ]
        ]
    },
    {
        "id": "cee0b5a9.4d40a8",
        "type": "ui_button",
        "z": "55e09d2b.5a5724",
        "name": "",
        "group": "2d34cd3a.821922",
        "order": 11,
        "width": "16",
        "height": "1",
        "passthru": false,
        "label": "MOTOR OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"command\":\"motoroff\"}",
        "payloadType": "json",
        "topic": "",
        "x": 980,
        "y": 220,
        "wires": [
            [
                "f1dc38a2.e5cba8",
                "b43ec5e7.1b0438"
            ]
        ]
    },
    {
        "id": "ea426db7.77105",
        "type": "function",
        "z": "55e09d2b.5a5724",
        "name": "Temperature",
        "func": "msg.payload=msg.payload.d.temperature \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "c5108a8c.7ccbf8",
                "7184f56f.148e7c"
            ]
        ]
    },
    {
        "id": "300e0a42.ce7ab6",
        "type": "ui_text",
        "z": "55e09d2b.5a5724",
        "group": "2d34cd3a.821922",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "HUMIDITY",
        "format": "{{msg.payload.main.humidity}}",
        "layout": "row-spread",
        "x": 870,
        "y": 360,
        "wires": []
    },
    {
        "id": "da9dc01b.46f4d",
        "type": "ui_text",
        "z": "55e09d2b.5a5724",
        "group": "2d34cd3a.821922",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "TEMPERATURE",
        "format": "{{msg.payload.main.temp-273.15}}",
        "layout": "row-spread",
        "x": 890,
        "y": 420,
        "wires": []
    },
    {
        "id": "660a1efc.be3d4",
        "type": "debug",
        "z": "55e09d2b.5a5724",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 870,
        "y": 540,
        "wires": []
    },
    {
        "id": "273e9af1.a02456",
        "type": "ui_text",
        "z": "55e09d2b.5a5724",
        "group": "2d34cd3a.821922",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "LOCATION",
        "format": "{{msg.payload.name}}",
        "layout": "row-spread",
        "x": 870,
        "y": 480,
        "wires": []
    },
    {
        "id": "1c7f4f76.40a141",
        "type": "ui_text",
        "z": "55e09d2b.5a5724",
        "group": "2d34cd3a.821922",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PRESSURE",
        "format": "{{msg.payload.main.pressure}}",
        "layout": "row-spread",
        "x": 870,
        "y": 600,
        "wires": []
    },
    {
        "id": "4bedff20.9658a",
        "type": "ui_text",
        "z": "55e09d2b.5a5724",
        "group": "2d34cd3a.821922",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WIND SPEED",
        "format": "{{msg.payload.wind.speed}}",
        "layout": "row-spread",
        "x": 880,
        "y": 660,
        "wires": []
    },
    {
        "id": "115cff9c.4dbe4",
        "type": "ui_text",
        "z": "55e09d2b.5a5724",
        "group": "2d34cd3a.821922",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WEATHER DESCRIPTION",
        "format": "{{msg.payload.weather[0].description}}",
        "layout": "row-spread",
        "x": 920,
        "y": 720,
        "wires": []
    },
    {
        "id": "b43ec5e7.1b0438",
        "type": "ui_text",
        "z": "55e09d2b.5a5724",
        "group": "2d34cd3a.821922",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "MOTOR STATUS",
        "format": "{{msg.payload.command}}",
        "layout": "row-spread",
        "x": 1250,
        "y": 140,
        "wires": []
    },
    {
        "id": "9e1b161d.a588e8",
        "type": "ibmiot",
        "z": "",
        "name": "",
        "keepalive": "60",
        "serverName": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "2d34cd3a.821922",
        "type": "ui_group",
        "z": "",
        "name": "INFORMATION",
        "tab": "2dcfb5bf.073aaa",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "d2d6166.0e701e8",
        "type": "ui_group",
        "z": "",
        "name": "TEMPERATURE",
        "tab": "aa42d83.ed86f28",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "461dea48.620dc4",
        "type": "ui_group",
        "z": "",
        "name": "HUMIDITY",
        "tab": "aa42d83.ed86f28",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ce32ce4.6ae903",
        "type": "ui_group",
        "z": "",
        "name": "OBJECT TEMPERATURE",
        "tab": "aa42d83.ed86f28",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2dcfb5bf.073aaa",
        "type": "ui_tab",
        "z": "",
        "name": "SMART AGRICULTURE SYSTEM",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "aa42d83.ed86f28",
        "type": "ui_tab",
        "z": "",
        "name": "GRAPHICAL REPRESENTATION",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]